doctype html
head
  title 软件工程教务系统
  style.
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(http-equiv='imagetoolbar', content='no')
  link(rel='stylesheet', href='../styles/layout.css', type='text/css')
  link#main-css-css(rel='stylesheet', href='../styles/bbs/main5152.css?ver=1.0', type='text/css', media='all')
  script(type='text/javascript', src='../scripts/jquery-1.4.1.min.js')
  script(type='text/javascript', src='../scripts/jquery.slidepanel.setup.js')
  script(type='text/javascript', src='../scripts/jquery.cycle.min.js')
  script(type='text/javascript', src='../scripts/jquery.cycle.setup.js')
  script(charset='utf-8', src='../editor/kindeditor.js')
  script(charset='utf-8', src='../editor/lang/zh-CN.js')
  script.
    KindEditor.ready(function(K) {
    window.editor = K.create('#editor_id');
    });
.container
  .wrapper.col0
    #topbar
      #slidepanel
        .topbox
          p.readmore1
            a(href='guide.html') 查看网站指南»»»
          h2 管理员信息
          p 所做操作，拥有权限，身份信息
        .topbox
          h2 修改密码
          form(action='#', method='post')
            fieldset
              legend Teachers Login Form
              label(for='teachername')
                | 输入新密码：
                input#teachername(type='text', name='teachername', value='')
              label(for='teacherpass')
                | 确认密码：
                input#teacherpass(type='password', name='teacherpass', value='')
              p
                input#teacherlogin(type='submit', name='teacherlogin', value='修改')
                input#teacherreset(type='reset', name='teacherreset', value='清空')
        .topbox.last
          h2 切换用户
          form(action='#', method='post')
            fieldset
              legend Pupils Login Form
              label(for='pupilname')
                | 帐号：
                input#pupilname(type='text', name='pupilname', value='')
              label(for='pupilpass')
                | 密码：
                input#pupilpass(type='password', name='pupilpass', value='')
              label(for='pupilremember')
                input#pupilremember.checkbox(type='checkbox', name='pupilremember', checked='checked')
              p
                input#pupillogin(type='submit', name='pupillogin', value='登录')
                input#pupilreset(type='reset', name='pupilreset', value='注销')
        br.clear
      #loginpanel
        ul
          li.left 不懂看这里»
          li#toggle.right
            a#slideit(href='#slidepanel') 我的信息
            a#closeit(style='display: none;', href='#slidepanel') 关闭
      br.clear
  // #######################################################################################################
  .wrapper.col1
    #header
      #logo
        h1
          a(href='#') 软件工程教务系统
        p Software Enginnering Education System
      #topnav
        nav
          ul
            li
              a(href='websiteGuide.html', style='font-size: 20px;') 网站指南
            li.active
              a(href='BBS.html', style='font-size: 20px;') 论坛管理
            li.last
              a(href='visitorFeedback.html', style='font-size: 20px;') 游客反馈
      br.clear
  // #######################################################################################################
  .wrapper.col3
    #container
      #content
        // start of page content
        article.type-page.hentry.clearfix
          h1.post-title 发表新帖
        form(action='BBS_article.html', method='post')
          // 后端宝宝们，这里转到发表以后的那个文章页面
          p
            label(for='name')
              small 标题
            input#name(type='text', name='name', value='', size='75%')
          p
            textarea#editor_id(name='content', style='height:300px;')
          div
            input(type='checkbox', value='checkbox')
            | 匿名
          p
            input#submit(name='submit', type='submit', value='发表新帖')
            input#submit(name='submit', type='submit', value='取消')
        // end of page content
      #column
        .subnav(style='position: fixed')
          h2 论坛
          ul
            li
              a(href='BBS.html') 帖子列表
            li
              a(href='BBS_post.html') 发表新帖
      .clear
  // #######################################################################################################
  .wrapper.col4
    #footer
      .footbox
        h2 友情链接
        ul
          li
            a(href='http://www.cc98.org/list.asp?boardid=74') CC98软件工程版
          li
            a(href='http://cspo.zju.edu.cn/') 浙江大学计算机学院中文网
          li
            a(href='http://jwbinfosys.zju.edu.cn/default2.aspx') 浙江大学教务系统
          li
            a(href='http://luckweb.057101.com/bt2/index.asp') 浙江大学缘网
      .footbox.last
        h2 关于我们
        ul
          li
            p 我们是浙江大学软件工程2014届的学生，这是为了我们更好学习课程内容而制作的网站，如果您有任何的意见，欢迎向我们反馈，我们会即使改进。
      br.clear
  // #######################################################################################################
  .wrapper.col5
    #copyright
      p.fl_left
        | Copyright © 2016 - All Rights Reserved - 
        a(href='#') 软需第13开发团队
      br.clear
