- var title = '指南';

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content
                h1#nav1 “网站指南”指南
                img.imgr(src='../images/demo/imgr.gif', alt='', width='125', height='125')
                p 您可以在此处编辑“网站指南”
                p 您可以在此处编辑“网站指南”
                p 您可以在此处编辑“网站指南”
                p 您可以在此处编辑“网站指南”
                p 您可以在此处编辑“网站指南”
                br
                h1#nav2 “论坛管理”指南
                img.imgr(src='../images/demo/imgr.gif', alt='', width='125', height='125')
                p 您可以在此处编辑“论坛管理”
                p 您可以在此处编辑“论坛管理”
                p 您可以在此处编辑“论坛管理”
                p 您可以在此处编辑“论坛管理”
                p 您可以在此处编辑“论坛管理”
                br
                h1#nav3 “游客反馈”指南
                img.imgr(src='../images/demo/imgr.gif', alt='', width='125', height='125')
                p 您可以在此处编辑“游客反馈”
                p 您可以在此处编辑“游客反馈”
                p 您可以在此处编辑“游客反馈”
                p 您可以在此处编辑“游客反馈”
                p 您可以在此处编辑“游客反馈”
                br
            #column
                .subnav(style='position: fixed;')
                    h2 指南目录
                    ul
                        li
                            a(href='#nav1') “网站指南”指南
                        li
                            a(href='#nav2') “论坛管理”指南
                        li
                            a(href='#nav3') “游客反馈”指南
            .clear
    include ../components/footer