- var title = '网站指南';
- var navIndex = 1;

doctype html
include components/head
    script(type='text/javascript', src='../editor/kindeditor.js')
    script(type='utf-8', src='../editor/lang/en.js')
    script(type='text/javascript').
        var KindEd;
        KindEditor.ready(
            function(K)
            {
                window.editor = K.create('#editor_id1');
                window.editor1 = K.create('#editor_id2');
                window.editor2 = K.create('#editor_id3');
                window.editor3 = K.create('#editor_id4');
                window.editor4 = K.create('#editor_id5');
                window.editor4 = K.create('#editor_id6');
                KindEd=K;
            }
        );
        function Pass(str) {
            var html = editor.html(); // KindEditor Node API
            console.log(html);
            var xmlhttp;
            var myarray = new Array(str, html);
            if (html.length == 0) {
                alert("数据为空！失败");
                return;
            }
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            }
            else {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    alert("操作成功");
                }
            }
            xmlhttp.open("GET", "Filetest/test.php?q=" + myarray, true);
            xmlhttp.send();
        }
    script(src='../jquery-3.1.1.js')
script.
    $(function () {
        $("#editBtn1").click(function () {
            $("#editBtn1").hide();
            $("#textEdit1").fadeIn();
        })
        $("#editBtn2").click(function () {
            $("#editBtn2").hide();
            $("#textEdit2").fadeIn();
        })
        $("#editBtn3").click(function () {
            $("#editBtn3").hide();
            $("#textEdit3").fadeIn();
        })
        $("#saveBtn1").click(function () {
            $("#editBtn1").fadeIn(1000);
            $("#textEdit1").hide();
        })
        $("#saveBtn2").click(function () {
            $("#editBtn2").fadeIn(1000);
            $("#textEdit2").hide();
        })
        $("#saveBtn3").click(function () {
            $("#editBtn3").fadeIn(1000);
            $("#textEdit3").hide();
        })
    })
.container
    include ../components/topbar    
    include components/nav
    
    .wrapper.col3
        #container
            #content
                h1#teacherGuide 教师指南
                img.imgr(src='../images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='../images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                div
                    #editBtn1(style='text-align: left;height: 80px;padding-top: 20px;')
                        button(style='background-color: #293C6B;color: white') 编辑
                    #textEdit1(style='display: none;')
                        div(style='width:300px; margin-left:0px; margin-top:0px;')
                            textarea#editor_id1(name='content1', style='width:500px; ')
                        #saveBtn1(style='text-align: left;height: 80px;padding-top: 20px;')
                            button(style='background-color: #293C6B;color: white') 保存
                h1#studentGuide 学生指南
                img.imgr(src='../images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis    et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='../images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from    This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                div
                    #editBtn2(style='text-align: left;height: 80px;padding-top: 20px;')
                        button(style='background-color: #293C6B;color: white') 编辑
                    #textEdit2(style='display: none;')
                        div(style='width:300px; margin-left:0px; margin-top:0px;')
                            textarea#editor_id2(name='content1', style='width:500px; ')
                        #saveBtn2(style='text-align: left;height: 80px;padding-top: 20px;')
                            button(style='background-color: #293C6B;color: white') 保存
                h1#visitorGuide 游客指南
                img.imgr(src='../images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis    et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='../images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                div
                    #editBtn3(style='text-align: left;height: 80px;padding-top: 20px;')
                        button(style='background-color: #293C6B;color: white') 编辑
                    #textEdit3(style='display: none;')
                        div(style='width:300px; margin-left:0px; margin-top:0px;')
                            textarea#editor_id3(name='content1', style='width:500px; ')
                        #saveBtn3(style='text-align: left;height: 80px;padding-top: 20px;')
                            button(style='background-color: #293C6B;color: white') 保存
            #column
                .subnav(style='position: fixed')
                    h2 指南编辑
                    ul
                        li
                            a(href='#teacherGuide') 教师指南
                        li
                            a(href='#studentGuide') 学生指南
                        li
                            a(href='#visitorGuide') 游客指南
            .clear
    include ../components/footer
