head
    title 软件工程教务系统
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='imagetoolbar', content='no')
    link(rel='stylesheet', href='/styles/layout.css', type='text/css')
