.wrapper.col4
    #footer
        .footbox
            h2 友情链接
            ul
                each item in links
                    li
                        a(href=item.url)= item.content
        .footbox.last
            h2 关于我们
            ul
                li
                    p 我们是浙江大学软件工程2014届的学生，这是为了我们更好学习课程内容而制作的网站，如果您有任何的意见，欢迎向我们反馈，我们会即使改进。
        br.clear
.wrapper.col5
    #copyright
        p.fl_left
            | Copyright © 2016 - All Rights Reserved - 
            a(href='#') 软需第13开发团队
        br.clear
script(type='text/javascript', src='/scripts/jquery.slidepanel.setup.js')
script(type='text/javascript', src='/scripts/jquery.cycle.min.js')
script(type='text/javascript', src='/scripts/jquery.cycle.setup.js')