.wrapper.col0
    #topbar
        #slidepanel
            .topbox
                p.readmore1
                    a(href='guide') 查看网站指南»»»
                if userType == 'A'
                    h2 管理员信息
                    p 所做操作，拥有权限，身份信息
                else if userType == 'S'
                    h2 学生信息
                    p 学生姓名，学号，选课，教师，是否担任助教等信息
                else if userType == 'T'
                    h2 学生信息
                    p 学生姓名，学号，选课，教师，是否担任助教等信息
                else 
                    h2 我的信息
                    p 游客访问记录等信息
            .topbox
                h2 修改密码
                form(action='#', method='post')
                    fieldset
                        legend Teachers Login Form
                        label(for='teachername')
                            | 输入新密码：
                            input#teachername(type='text', name='teachername', value='')
                        label(for='teacherpass')
                            | 确认密码：
                            input#teacherpass(type='password', name='teacherpass', value='')
                        p
                            input#teacherlogin(type='submit', name='teacherlogin', value='修改')
                            input#teacherreset(type='reset', name='teacherreset', value='清空')
            .topbox.last
                h2 切换课程
                form(action='#', method='post')
                    fieldset
                        legend Course Switch Form
                        //p 当前课程为：软件需求工程
                        p 已选课程：
                        each item in courses
                            label
                                input(name="Course" type="radio" value=item.id style="width:25px;display:inline-block;")
                                | #{item.title}
                        p
                            input#courseswitch(type="submit" name="courseswitch" value="切换课程")
                            input#exit(type="button" value="退出" onclick="logout()")
            br.clear
        #loginpanel
            ul
                li.left 不懂看这里»
                li#toggle.right
                    a#slideit(href='#slidepanel') 当前登录状态
                    a#closeit(style='display: none;', href='#slidepanel') 关闭
        br.clear
        script.
            function logout() {
                window.location.href = "/logout";
            }