- var title = '作业模块';
- var navIndex = 4;

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content(style='height: 350px;')
                h1 作业查重（投资我们进行开发吧...）
                table(summary='Summary Here', cellpadding='0', cellspacing='0')
                    thead
                        tr
                            th 作业时间
                            th 学生1姓名
                            th 学生1学号
                            th 学生2姓名
                            th 学生2学号
                            th 操作
                    tbody
                        tr.light
                            td 第一周
                            td 小王
                            td 10001
                            td 小明
                            td 10002
                            td
                                a(href='') 查看详情
                        tr.light
                            td 第一周
                            td 小芳
                            td 10003
                            td 小刚
                            td 10004
                            td
                                a(href='') 查看详情
                        tr.light
                            td 第二周
                            td 小刚
                            td 10004
                            td 小明
                            td 10002
                            td
                                a(href='') 查看详情
                        tr.light
                            td 第三周
                            td 小芳
                            td 10003
                            td 小明
                            td 10002
                            td
                                a(href='') 查看详情
            #column
                .subnav(style='position: fixed;')
                    h2 作业模块
                    ul
                        li
                            a(href='list') 作业列表
                        li
                            a(href='correct') 作业批改
                        li
                            a(href='duplicate') 作业查重
            .clear
    include ../components/footer
