- var title = '其他功能';
- var navIndex = 6;

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content
                h1 添加友情链接
                form(action='others_link', method='post')
                    // 提交后再转回链接列表页，不另设确认页面
                    p
                        label(for='')
                            small 链接名称
                        input(type='text', name='', id='', value='', size='75%')
                    p
                        label(for='')
                            small 链接网址
                        input(type='text', name='', id='', value='', size='75%')
                    fieldset
                        p
                            input(type='submit', name='', id='', value='添加友情链接')
            #column
                .subnav(style='position: fixed')
                    h2 其他
                    ul
                        li
                            a(href='others_info') 信息发布
                        li
                            a(href='others_link') 编辑友情链接
            .clear
    include ../components/footer