- var title = '其他信息';
- var navIndex = 6;

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content
                form
                    label(for='name')
                        small 信息标题
                    input(type='text', name='', id='', value='', size='75%')
                    div(style='height:20px;')
                    label(for='name')
                        small 发送范围
                    input(type='radio', name='stux', value='', checked='')
                    | 全体学生
                    input(type='radio', name='stux', value='')
                    | 指定班级学生
                    input(type='radio', name='stux', value='')
                    | 指定学生
                    div(style='height:20px;')
                    label(for='name')
                        small 指定班级编号/学生姓名
                    input#name(type='text', name='name', value='', size='75%')
                    div(style='height:20px;')
                    label(for='name')
                        small 编辑信息内容
                    textarea#editor_id(name='content', style='height:300px;')
                    div(style='height:20px;')
                    form(action='others_info_succeed', method='post')
                        fieldset
                            p
                                input(type='submit', name='', id='', value='发布')
            #column
                .subnav(style='position: fixed')
                    h2 其他
                    ul
                        li
                            a(href='others_info') 信息发布
                        li
                            a(href='others_link') 编辑友情链接
            .clear
    include ../components/footer