- var title = '其他功能';
- var navIndex = 6;

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content
                p
                    b 信息发送成功！
                div(style='height:20px;')
                h1 信息标题显示在这里
                .post-meta.clearfix
                    span.type 发送范围显示在这里
                    span.comments 发送指定的班级或学生显示在这里或者为空
                // end of post meta
                p
                    | 信息内容显示在这里Many of us work in an endless stream of tasks, browser tasks, social media, emails, meetings, rushing from one thing to another, never pausing and never ending. Then the day is over, and we are exhausted, and we often have very little to show for it. And we start the next day, ready for a mindless stream of tasks and distractions.
            #column
                .subnav(style='position: fixed')
                    h2 其他
                    ul
                        li
                            a(href='others_info') 信息发布
                        li
                            a(href='others_link') 编辑友情链接
            .clear
    include ../components/footer