- var title = '其他信息';
- var navIndex = 6;

doctype html
include components/head
div
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content
                form
                    label(for='name')
                        p 信息标题
                    input(type='text', name='title', size='75%')
                    div(style='height:20px;')
                    label(for='name')
                        p 发送范围
                    input(type='radio', name='target', value='1', checked='')
                    | 本课程全体学生（包括其他班级）
                    input(type='radio', name='target', value='2')
                    | 指定班级学生
                    input(type='radio', name='target', value='3')
                    | 指定学生
                    div(style='height:20px;')
                    label(for='name')
                        p 指定班级编号/学生姓名
                    input#name(type='text', name='reciever', value='', size='75%')
                    div(style='height:20px;')
                    label(for='name')
                        p 编辑信息内容
                    div#editor(name='content') 在此处填写消息内容
                    div(style='height:20px;')
                        input#submit(type='button', name='', value='发布')
            #column
                .subnav(style='position: fixed')
                    h2 其他
                    ul
                        li
                            a(href='others_info') 信息发布
                        li
                            a(href='others_link') 编辑友情链接
            .clear
            <link href="/styles/bootstrap.css" rel="stylesheet">
            <script src="/jquery-3.1.1.js"></script> 
            <script src="/scripts/bootstrap.js"></script> 
            <link href="/styles/summernote.css" rel="stylesheet">
            <script src="/scripts/summernote.js"></script>
            script.
                var submit = $('#submit');
                var target = $('#editor');
                target.summernote({
                    height: 200,
                    focus: false,
                    toolbar: [
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['insert', ['picture', 'link', 'table', 'hr']],
                        ['para', ['ul', 'ol', 'paragraph']],
                    ]
                });
                submit.click(function() {
                    var content = target.summernote('code');
                    var recieverType = $('input[name="target"').val();
                    var reciever = $('input[name="reciever"]').val();
                    var title  = $('input[name="title"]').val();
                    if (!title) {
                        alert('请填写标题');
                    } else if (recieverType != '1' && reciever == '') {
                        alert('请填写接收者或选择本课程全体学生');
                    }
                    $.post('/teacher/others_info', {
                        title: title,
                        classID: recieverType == '2' ? reciever : null,
                        reciever: reciever == '3' ? reciever : null,
                        content: content,
                    }, function (data) {
                        if(data.code == 1){
                            alert(data.msg);
                            target.summernote('destroy');
                            submit.hide();
                        }else{
                            alert(data.msg);
                        }
                    })
                });
    include ../components/footer