- var title = '课程介绍';
- var navIndex = 1;

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content
                h1(id='课程简介') 课程简介
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                h2(id='教学日历') 教学日历
                table(summary='Summary Here', cellpadding='0', cellspacing='0')
                    thead
                        tr
                            th 时间
                            th 课程内容
                            th 作业
                    tbody
                        tr.light
                            td Value 1
                            td Value 2
                            td Value 3
                        tr.dark
                            td Value 5
                            td Value 6
                            td Value 7
                        tr.light
                            td Value 9
                            td Value 10
                            td Value 11
                        tr.dark
                            td Value 13
                            td Value 14
                            td Value 15
                h1(id='教学背景') 教学背景
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis    et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from    This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                h1(id='考核方式') 考核方式
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis    et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                h1(id='使用教材') 使用教材
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis    et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a >Website Template Licence.
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                h1(id='大作业介绍') 大作业介绍
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                h1(id='基础要求') 基础要求
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis    et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
            #column
                .subnav(style='position: fixed')
                    h2 课程介绍
                    ul
                        li
                            a(href='#课程简介') 课程简介
                        li
                            a(href='#教学日历') 教学日历
                        li
                            a(href='#教学背景') 教学背景
                        li
                            a(href='#考核方式') 考核方式
                        li
                            a(href='#使用教材') 使用教材
                        li
                            a(href='#大作业介绍') 大作业介绍
                        li
                            a(href='#基础要求') 基础要求
            .clear
    include ../components/footer