- var title = '课件资料';
- var navIndex = 3;

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content(style='height: 350px;')
                h1 课件管理
                table#table(summary='Summary Here', cellpadding='0', cellspacing='0')
                    thead
                        tr
                            th 上传时间
                            th 文件名称
                            th 文件大小
                            th 文件格式
                            th 操作
                    tbody
                        tr.light
                            td 第一周
                            td 用例图
                            td 1.pdf
                            td 2016.9.20
                            td
                                a(href='', onclick='del()') 预览
                                a(href='') 下载
                        tr.dark
                            td 第二周
                            td 类图
                            td 2.pdf
                            td 2016.9.27
                            td
                                a(href='') 预览
                                a(href='') 下载
                        tr.light
                            td 第三周
                            td 顺序图
                            td 3.pdf
                            td 2016.10.3
                            td
                                a(href='') 预览
                                a(href='') 下载
                        tr.dark
                            td 第四周
                            td 协作图
                            td 4.pdf
                            td 2016.10.10
                            td
                                a(href='') 预览
                                a(href='') 下载
            #column
                .subnav(style='position: fixed;')
                    h2 课件资料
                    ul
                        li
                            a(href='courseResource') 课件管理
                        li
                            a(href='courseResource_referencematerial') 参考资料管理
                        li
                            a(href='courseResource_goodhomework') 优秀作业
                        li
                            a(href='courseResource_video') 视音频资料
            .clear
    include ../components/footer