- var title = '游客反馈';
- var navIndex = 4;

doctype html
include components/head
    script(charset='utf-8', src='../editor/kindeditor.js')
    script(charset='utf-8', src='../editor/lang/zh-CN.js')
    script.
        KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id');
        });
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content
                form(action='feedback_succeed', method='post')
                    p
                        label(for='')
                            small 反馈类型
                        select
                            option(value='网站界面') 网站界面
                            option(value='网站内容') 网站内容
                            option(value='教学安排') 教学安排
                            option(value='其他') 其他
                    p
                        label(for='')
                            small 反馈标题
                        input(type='text', name='', id='', value='', size='75%')
                    p
                        label(for='')
                            small 反馈内容
                        br
                    p
                        textarea#editor_id(name='content', style='height:300px;')
                    p
                        label(for='n')
                            small 联系方式
                        input(type='text', name='', id='', value='', size='75%')
                    p
                        input#submit(name='submit', type='submit', value='提交反馈')
                        input#submit(name='submit', type='submit', value='取消')
            #column
            .clear
    include ../components/footer