- var title = '教师介绍';
- var navIndex = 2;

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content
                h1(id='总体介绍') 总体介绍
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                h1(id='教学风格') 教学风格
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis    et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from    This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                h1(id='以往教学') 以往教学
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis    et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                h1(id='科研成果') 科研成果
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis    et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a >Website Template Licence.
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                h1(id='出版书籍') 出版书籍
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
                h1(id='所获荣誉') 所获荣誉
                img.imgr(src='images/demo/imgr.gif', alt='', width='125', height='125')
                p
                    | Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.
                p
                    | Dapiensociis    et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.
                img.imgl(src='images/demo/imgl.gif', alt='', width='125', height='125')
                p
                    | This is a W3C compliant free website template from . This template is distributed using a .
                p
                    | You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit .
                p
                    | Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.
            #column
                .subnav(style='position: fixed;')
                    h2 课程介绍
                    ul
                        li
                            a(href='#总体介绍') 总体介绍
                        li
                            a(href='#教学风格') 教学风格
                        li
                            a(href='#以往教学') 以往教学
                        li
                            a(href='#科研成果') 科研成果
                        li
                            a(href='#出版书籍') 出版书籍
                        li
                            a(href='#所获荣誉') 所获荣誉
            .clear
    include ../components/footer