style.
    #topnav li {
        position: relative;
    }
    #teac-list:hover .teac-container {
        display: inline-block;
    }
    .teac-container {
        position: absolute;
        display: none;
        top: 150%;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
    }
    .teac {
        display: block;
        position: relative;
        padding: 15px 0;
    }
    #header li.active .teac {
        color: #fff;
        border-bottom-color: #2D3134;
    }
    #header li .teac:hover {
        color: #02ACEE;
        background-color: #2D3134;
        border-bottom-color: #02ACEE;
    }
.wrapper.col1
    #header
        #logo
            h1
                a(href='#') 软件工程教务系统
            p Software Enginnering Education System
        #topnav
            nav
                ul
                    li(class=(navIndex==1) ? 'active': '')
                        a(href='/student/classIntroduction', style='font-size: 20px;') 课程介绍
                    li#teac-list(class=(navIndex==2) ? 'active': '')
                        a(href='#', style='font-size: 20px;') 教师介绍
                        .teac-container
                            each item in teachers
                                a.teac(style='font-size:15px' href='/student/teacherIntroduction/'+item.id) #{item.name}老师
                    li(class=(navIndex==3) ? 'active': '')
                        a(href='/student/courseResource', style='font-size: 20px;') 课件资料
                    li(class=(navIndex==4) ? 'active': '')
                        a(href='/student/homework', style='font-size: 20px;') 作业模块
                    li
                        a(href='/bbs', style='font-size: 20px;') 论坛
                    li(class=(navIndex==5) ? 'lasActive': 'last')
                        a(href='/student/inbox', style='font-size: 20px;') 收件
        br.clear