- var title = '学生使用指南';
- var navIndex = 0;

doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content
                h1#nav1 “课程介绍”指南
                img.imgr(src='../images/demo/imgr.gif', alt='', width='125', height='125')
                p 您可以在此处编辑“教学计划”
                p 您可以在此处编辑“背景”
                p 您可以在此处编辑“考核方式”
                p 您可以在此处编辑“使用教材”
                p 您可以在此处编辑“大作业介绍”
                p 您可以在此处编辑“基础介绍”
                br
                h1#nav2 “教师介绍”指南
                img.imgr(src='../images/demo/imgr.gif', alt='', width='125', height='125')
                p 您可以在此处编辑“总体介绍”
                p 您可以在此处编辑“教学风格”
                p 您可以在此处编辑“以往教学”
                p 您可以在此处编辑“科研成果”
                p 您可以在此处编辑“出版书籍”
                p 您可以在此处编辑“所获荣誉”
                br
                h1#nav3 “课件资料”指南
                img.imgr(src='../images/demo/imgr.gif', alt='', width='125', height='125')
                p 您可以在此处编辑“课件管理”
                p 您可以在此处编辑“参考资料管理”
                p 您可以在此处编辑“优秀作业”
                p 您可以在此处编辑“视音频材料”
                br
                h1#nav4 “作业模块”指南
                img.imgr(src='../images/demo/imgr.gif', alt='', width='125', height='125')
                p 您可以在此处编辑“作业布置”
                p 您可以在此处编辑“作业批改”
                p 您可以在此处编辑“作业查重系统”
                br
                h1#nav5 “论坛”指南
                img.imgr(src='../images/demo/imgr.gif', alt='', width='125', height='125')
                p 您可以在此处编辑“帖子”
                p 您可以在此处编辑“主题”
                br
            #column
                .subnav(style='position: fixed;')
                    h2 指南目录
                    ul
                        li
                            a(href='#nav1') “课程介绍”指南
                        li
                            a(href='#nav2') “教师介绍”指南
                        li
                            a(href='#nav3') “课件资料”指南
                        li
                            a(href='#nav4') “作业模块”指南
                        li
                            a(href='#nav5') “论坛”指南
            .clear
    include ../components/footer