doctype html
include components/head
.container
    include ../components/topbar
    include components/nav
    .wrapper.col3
        #container
            #content
                h1 #{message.title}
                .post-meta.clearfix
                    span.type #{message.creator_id}
                    span.comments #{message.post_time.toLocaleString()}
                p
                    | #{message.content}
            #column
                .subnav(style='position: fixed')
                    h2 收件箱
                    ul
                        li
                            a(href='inbox') 信息列表
            .clear
    include ../components/footer