head
    title 软件工程教务系统
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='imagetoolbar', content='no')
    link(rel='stylesheet', href='/styles/layout.css', type='text/css')
    if title == '游客反馈' || title == '游客反馈详细'
        link#main-css-css(rel='stylesheet', href='/styles/bbs/main5152.css?ver=1.0', type='text/css', media='all')
        link#bootstrap-css-css(rel='stylesheet', href='css/bootstrap5152.css?ver=1.0', type='text/css', media='all')
    script(type='text/javascript', src='/scripts/jquery-1.4.1.min.js')
    script(type='text/javascript', src='/scripts/jquery.slidepanel.setup.js')
    script(type='text/javascript', src='/scripts/jquery.cycle.min.js')
    script(type='text/javascript', src='/scripts/jquery.cycle.setup.js')