.wrapper.col1
    #header
        #logo
            h1
                a(href='#') 软件工程教务系统
            p Software Enginnering Education System
        #topnav
            nav
                ul
                    li(class= (navIndex==1) ? 'active' : '')
                        a(href='/admin/websiteGuide', style='font-size: 20px;') 网站指南
                    li(class= (navIndex==2) ? 'active' : '')
                        a(href='/bbs', style='font-size: 20px;') 论坛管理
                    li(class= (navIndex==3) ? 'lastActive' : 'last')
                        a(href='/admin/visitorFeedback', style='font-size: 20px;') 游客反馈
        br.clear